{% extends 'base.html' %}
{% load static %}

{% block title %} Gestão App - Lista Rótulos {% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'assets/modulo-ausencias/css/lista_solicitacoes.css' %}">

<div class="row row-sm">
    <div class="col-lg-12">
        <div class="card">
            <div style="margin-top: 10px;">
                {% include 'partials/messages.html' %}
            </div>
            <div class="card-header">
                <div class="col-xl-12 d-flex">
                    <h3 id="view-title" class="card-title col-xl-6 px-0 titulo-agenda d-flex align-items-center">Lista de Rótulos</h3>

                    <div class="btn btn-group col-xl-6 d-flex justify-content-end p-0">
                        <button type="button" title="Solicitações Gerais" aria-pressed="true" class="btn btn-primary btn-active" id="visualizarSolicitacoes">Rótulos</button>
                        <a type="button" title="Histórico de Solicitações" aria-pressed="false" class="btn btn-default " id="historicoSolicitacoes" href="#">Personalizados</a>
                    </div>
                </div>
            </div>
            <div class="card-body col-sm-12 col-md-12">
                <div class="table-responsive">

                    <table id="basic-datatable" class="table table-bordered key-buttons border-bottom">
                        <thead>
                            <tr>

                                <th class="center-block text-center align-middle">Apelido Cliente</th>
                                <th class="center-block text-center align-middle">Rótulo</th>
                                <th class="center-block text-center align-middle">Data Criação</th>
                                <th class="center-block text-center align-middle">Documentação Recebida?</th>
                                <th class="center-block text-center align-middle">Valor Cobrado</th>
                                <th class="center-block text-center align-middle">Valor Recebido</th>
                                <th class="center-block text-center align-middle">Status</th>
                                <th class="center-block text-center align-middle">Data Entrega</th>
                                <th class="center-block text-center align-middle" name="bstable-actions">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rotulo in rotulos %}
                            <tr>
                                
                                <td class="align-middle text-center align-middle text-uppercase">{{rotulo.cliente}}</td>
                                <td class="align-middle text-center align-middle text-uppercase">{{rotulo.tipo_rotulo}}</td>
                                <td class="align-middle text-center align-middle">{{rotulo.data_criacao|date:"d/m/Y"}}</td>
                                {% if rotulo.documentacao == 1 %}
                                <td class="align-middle text-center align-middle text-uppercase">Sim</td>
                                {% else %}
                                <td class="align-middle text-center align-middle text-uppercase">Não</td>
                                {% endif %}
                                <td class="align-middle text-center align-middle">{{ rotulo.valor_cobrado_formatado }}</td>
                                <td class="align-middle text-center align-middle">{{ rotulo.valor_recebido_formatado }}</td>
                                <td class="align-middle text-center align-middle">
                                    <span class="badge bg-green status d-flex align-items-center justify-content-center">
                                        {{rotulo.status}}
                                    </span>
                                </td>
                                <td class="align-middle text-center align-middle">{{rotulo.data_entrega|date:"d/m/Y"}}</td>

                                <td name="bstable-actions" class="align-middle text-center">
                                    <div class="btn-list d-flex justify-content-center">
                                        <a id="bEdit" type="button" class="btn btn-sm btn-primary" href="{% url 'rotulos:editar_rotulo' rotulo.id %}">
                                            <span class="fe fe-edit" title="Editar Rótulo"></span>
                                        </a>
                                        <a id="bDelete" type="button" class="btn btn-sm btn-danger"
                                            onclick="confirmDelete({{ rotulo.id }}, '{% url 'rotulos:deletar_rotulo' 0 %}'.slice(0, -2))">
                                            <span class="fe fe-trash" style="color: white;" title="Deletar Rótulo"></span>
                                        </a>
                                                                           
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.status').each(function () {
            var statusText = $(this).text().trim();

            if (statusText === 'Entregue') {
                $(this).css('background-color', '#006B5C');
            } else if (statusText === 'Entregar') {
                $(this).css('background-color', '#FF9500');
            } else if (statusText === 'Pendente') {
                $(this).css('background-color', '#800020');
            } else if (statusText === 'Confeccionar') {
                $(this).css('background-color', '#0000FF');
            } else if (statusText === 'À Receber') {
                $(this).css('background-color', '#FF69B4');  // Rosa (Hot Pink) como exemplo
            }
        });
    });
</script>

<script>
    function confirmDelete(rotuloId, baseUrl) {
    swal({
        title: "Tem certeza?",
        text: "Uma vez deletado, você não poderá recuperar este rótulo!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
    })
    .then((willDelete) => {
        if (willDelete) {
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = baseUrl + rotuloId + '/';
            form.innerHTML = '{% csrf_token %}';
            document.body.appendChild(form);
            form.submit();
        }
    });
}

</script>

<style>
    .status {
        padding: 4px 8px;
        height: 24px;
        border-radius: 20px;
    }   

    .btn-danger {
        color: white;
    }
</style>

{% endblock %}