{% extends 'base.html' %}
{% load static %}

{% block title %} Gestão App - Lista Clientes {% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'assets/modulo-ausencias/css/lista_solicitacoes.css' %}">

<div class="row row-sm">
    <div class="col-lg-12">
        <div class="card">
            <div style="margin-top: 10px;">
                {% include 'partials/messages.html' %}
            </div>
            <div class="card-header">
                <div class="col-xl-11">
                    <h3 class="card-title">Lista Clientes</h3>
                </div>
            </div>
            <div class="card-body col-sm-12 col-md-12">
                <div class="table-responsive">

                    <table id="basic-datatable" class="table table-bordered key-buttons border-bottom">
                        <thead>
                            <tr>

                                <th class="center-block text-center align-middle">Apelido Cliente</th>
                                <th class="center-block text-center align-middle">CNPJ</th>
                                <th class="center-block text-center align-middle">Cidade</th>
                                <th class="center-block text-center align-middle">UF</th>
                                <th class="center-block text-center align-middle">Email</th>
                                <th class="center-block text-center align-middle">Telefone</th>
                                <th class="center-block text-center align-middle" name="bstable-actions">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cliente in clientes %}
                            <tr>
                                
                                <td class="align-middle text-center align-middle">{{cliente.nome}}</td>
                                <td class="align-middle text-center align-middle">{{cliente.cnpj}}</td>
                                <td class="align-middle text-center align-middle">{{cliente.cidade}}</td>
                                <td class="align-middle text-center align-middle">{{cliente.uf}}</td>
                                <td class="align-middle text-center align-middle">{{cliente.email}}</td>
                                <td class="align-middle text-center align-middle">{{cliente.telefone}}</td>

                                <td name="bstable-actions" class="align-middle text-center">
                                    <div class="btn-list d-flex justify-content-center">
                                        <a id="bEdit" type="button" class="btn btn-sm btn-primary"
                                            href="{% url 'clientes:editar_cliente' cliente.id %}">
                                            <span class="fe fe-edit" title="Avaliar Solicitação"> </span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'assets/modulo-ausencias/js/lista_solicitacoes.js' %}"></script>

{% endblock %}